<p id="notice"><%= notice %></p>
<hr>
<h1>Posts</h1>
<hr>
<table>
  <thead>
    <tr>
      <th>Attachment</th>
      <th>Caption</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts_sorted.each do |post| %>
      <tr>
        <td><%= image_tag post.attachment %></td>
        <td><%= post.content %></td>
        <td><%= post.user.name %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @posts_sorted.each do |post| %>
      <p><%= image_tag post.attachment %>
      <p><%= simple_format(post.content) %>
        <%= "#{post.created_at.strftime("%H:%M:%S, %d %b %Y")}"%>
      </p>
      <span><%= post.get_upvotes.size %> like this</span>
      <br>
        <% unless (current_user.nil?) %>
          <%= link_to like_post_path(post), method: :post, remote: true do %>
            <button name="likePost<%=post.id %>">Like</button>
          <% end %>
          <%= link_to unlike_post_path(post), method: :put, remote: true do %>
            <button name="unlikePost<%=post.id %>">Unlike</button>
          <% end %>
        <% end %>
<% end %>
<br>

<%= link_to 'New Post', new_post_path %>
